<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <link rel="stylesheet" href="checking.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style media="screen">
body{
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.button-72 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-72:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .button-72 {
    font-size: 21px;
    padding: 18px 34px;
    margin-bottom: .5em;
  }
}
  .Textt{
    width:100em;
    height: 33em;
    border: solid white .2em;
  }
  h3{
    margin-right: 6em;
    margin-left: 2em;
    color: white;
  }
  .Message_Content{
    color: white;
    font-weight: bold;
  }
</style>
  </head>
  <body>
    <div class="Textt">
<!-- <div class="w3-panel w3-border"> -->
  <h3>ملک کی بدلتی سیاسی صورت حال میں سابق وزیراعظم عمران خان ایک بار پھر پُرامید ہیں کہ انتخابات قبل از وقت ہو جائیں گے۔چیئرمین تحریک انصاف گذشتہ ایک ہفتے کے دوران متعدد بار اس امید کا اظہار کر چکے ہیں کہ آئندہ عام انتخابات مارچ اپریل تک ہو جائیں گے۔اس سے قبل عمران خان یہ بھی کہہ چکے ہیں کہ نوازشریف قبل از وقت انتخابات میں سب سے بڑی رکاوٹ ہیں۔‘حال ہی میں انہوں نے اپنے ایک بیان میں کہا تھا کہ ’حکومت سے زیادہ پیچھے بیٹھے لوگوں کا الیکشنز کے لیے راضی ہونا ضروری ہے۔ ابھی مجھے انتخابات ہوتےنظرنہیں آرہے۔‘پاکستان تحریک انصاف نے ٹیکنوکریٹ سیٹ اپ آنے کے خدشے کا بھی اظہار کیا ہے اور اس کی بھرپور مخالفت کرتی نظر آرہی ہے۔تاہم ملک کی بدلتی ہوئی سیاسی صورت حال اور کمزور معیشت کو دیکھتے ہوئے سابق وزیراعظم عمران خان ایک بار پھر پُرامید ہیں کہ انتخابات مارچ یا اپریل میں ہو جائیں گے۔اس حوالے سے عمران خان کے قریبی حلقوں سے اردو نیوز کو معلوم ہوا ہے کہ ’عمران خان ملک کی بدلتی ہوئی سیاسی صورت حال کو دیکھتے ہوئے پُرامید ہیں کہ قبل از وقت انتخابات کے لیے راہ ہموار کی جا رہی ہے۔‘’کراچی میں ایم کیوایمکے تمام دھڑوں کو اکٹھا کرنے کی کوشش، پیپلز پارٹی اور ایم کیو ایم کے درمیان قربت اور بلوچستان عوامی پارٹی کے ارکان کی پیپلز پارٹی میں شمولیت انتخابات کی تیاریوں کی طرف اشارہ دے رہی ہے۔‘</h3>
<!-- </div> -->
</div>
  <button class="button-72" type="button" onclick="ChangeText()" name="button" role="button">Change Text</button>
    <div class="container">
      <div class="display">


      </div>
      <div class="controllers">

      </div>
    </div>
    <script>
var count=1;
function ChangeText(){
  var urdu_data=document.querySelector("h3");
  if(count===1){
  urdu_data.innerHTML="اسلام آباد (ڈیلی پاکستان آن لائن )وفاقی حکومت نے ملک بھر کی تمام مارکیٹس رات ساڑھے 8بجے بند کرنے کا اعلان کر دیا ہے، جبکہ شادی ہالز کو ہر صورت رات 10بجے بند کیا جائے گا۔تفصیلات کے مطابق وزیر دفاع خواجہ آصف نے  وفاقی وزیر توانائی خرم دستگیر کے ہمراہ پریس کانفرنس کرتے ہوئے کہا کہ  بجلی کی بچت کیلئے ہم نے  کابینہ اجلاس میں فیصلہ کیا ہے کہ ملک بھر کی مارکیٹس رات ساڑھے 8بجے  بند کی جائیں گی ،جبکہ شادی ہالز رات 10بجے بند کیے جائیں گے ، شادی ہالز اور مارکیٹس اس ٹائم فریم پر چلیں تو اس سے 62ارب روپے کی بچت آئے گی ۔وفاقی وزیر نے مزید کہا کہ 3 ارب ڈالرز کا سالانہ پیٹرول ہم موٹر بائیکس  میں استعمال کر رہے ہیں، اس لیے موٹر سائیکلوں کو الیکٹرک طرز پر  منتقل کر رہے ہیں ، جس کیلئے شہریوں کو  مالی معاونت بھی فراہم کی جائیگی ، یکم فروری سے فلیمنٹ والے بلب کی پروڈکشن بند کر رہے ہیں ، جبکہ یکم جولائی سے بجلی والے پنکھوں کی پروڈکشن بھی بند کر دی جائے گی۔وفاقی وزیر نے مزید کہا کہ 3 ارب ڈالرز کا سالانہ پیٹرول ہم موٹر بائیکس  میں استعمال کر رہے ہیں، اس لیے موٹر سائیکلوں کو الیکٹرک طرز پر  منتقل کر رہے ہیں ، جس کیلئے شہریوں کو  مالی معاونت بھی فراہم کی جائیگی ، یکم فروری سے فلیمنٹ والے بلب کی پروڈکشن بند کر رہے ہیں ، جبکہ یکم جولائی سے بجلی والے پنکھوں کی پروڈکشن بھی بند کر دی جائے گی۔وفاقی وزیر نے مزید کہا کہ 3 ارب ڈالرز کا سالانہ پیٹرول ہم موٹر بائیکس  میں استعمال کر رہے ہیں، اس لیے موٹر سائیکلوں کو الیکٹرک طرز پر  منتقل کر رہے ہیں ، جس کیلئے شہریوں کو  مالی معاونت بھی فراہم کی جائیگی ، یکم فروری سے فلیمنٹ والے بلب کی پروڈکشن بند کر رہے ہیں ، جبکہ یکم جولائی سے بجلی والے پنکھوں کی پروڈکشن بھی بند کر دی جائے گی۔";
count=2;}
else if(count===2){
  urdu_data.innerHTML=" پاکستان تحریک انصاف کے چیئرمین عمران خان نے کہا ہے کہ 11 میں سے 8 ضمنی انتخابات جیتے تو قتل کا پلان بنایا گیا، مجھے اندر سے پیغام آیا کہ آپ کو قتل کرنے کی سازش ہو رہی ہے، اسکرپٹ یہ تھی کہ عمران خان نے توہین مذہب کی اس لیے مار دیا، ملزم نوید کو جو پڑھایا گیا اس نے وہ کہا، پنجاب میں ہماری حکومت تھی لیکن میں آج تک ایف آئی آر ر جسٹرڈ نہیں کروا سکا۔پریس کانفرنس میں انہوں نے کہا کہ ملک میں قانون کی حکمرانی تک ترقی نہیں ہوسکتی، مجھ پر قاتلانہ حملے سےمتعلق جے آئی ٹی کی فائنڈنگ سب کے سامنے لانا چاہتا ہوں، ہمارے ارکان کو بلاکر پیسوں کی آفر کی گئی، سب سے پہلی سازش رجیم چینج کے ذریعے ہوئی، رجیم چینج کے پیچھے ماسٹر مائنڈ کو پتہ نہیں تھا کہ قوم سڑکوں پر نکلےگی، قوم ان کیخلاف کھڑی ہوگئی، سوشل میڈیا کا زمانہ ہے آپ کسی کی آواز کو بند نہیں کر سکتے، میں نے الیکشن کا اعلان کیا تو پورا زور لگا کر الیکشن ملتوی کیے گئے، ضمنی الیکشن ہوئے جس میں لوگوں نے رجیم چینج کو مسترد کیا۔مران خان نے کہا کہ ہمارے اوپر تشدد کیا گیا اور کیسز بنائے گئے، میرے خلاف دہشت گردی کے کیسز بنائے گئے، ہمیں راستے سے ہٹانے کے لئے کیا کچھ نہیں کیا گیا؟ پی ٹی آئی لانگ مارچ کے دوران خواتین اور بچوں پر تشدد کیاگیا، لانگ مارچ سے پہلے پولیس گھروں کی دیواریں پھلانگ کر لوگوں کو اٹھا کر لےگئی، عوام بتا رہے ہیں کہ ہم پی ٹی آئی کے ساتھ ہیں، انہوں نے کہا کہ ہم ڈنڈوں سے ان کو ٹھیک کریں گے، مجھے مارنے کا پلان بنایا گیا ایک پلان کے بعد دوسرا پلان بنایا گیا، جاویدلطیف نے میر ے خلاف پریس کانفرنس کی، سرکاری ٹی وی کو حکم دیا گیا کہ چار دن عمران خان کیخلاف مہم چلائے۔";
  count=3;
}
else if(count===3){
  urdu_data.innerHTML="وزیر داخلہ رانا ثنا اللہ نے دعوی کیا ہے کہ عمران خان کی 25 منٹ کی ایک او ریکارڈنگ آرہی ہے۔ انہوں نے کہا کہ عمران خان کی چوری اور ویڈیوز سے ان کی مقبولیت پر فرق پڑا ہے، کوئی شریف شخص عمران خان کو ووٹ دینے کیلئے یار نہیں۔ نجی ٹی وی چینل کے پروگرام میں گفتگو کرتے ہوئے وزیر داخلہ رانا ثنا اللہ نے مزید کہا کہ وزیراعلیٰ پنجاب کو اعتماد کاووٹ لینا پڑے گا، اگر ان کے پاس نمبر زپورے ہیں تو اعتماد کا ووٹ لے لیتے، اگر اعتماد کاووٹ نہیں لے سکتے تو پیچھے ہٹ جائیں۔انہوں نے کہا کہ اعتماد کے ووٹ کے دن بندے ڈبل فگر میں کم ہوسکتے ہیں،6،7 لوگوں نے کہا ہے کہ وہ اعتماد کے ووٹ میں ان کا ساتھ نہیں دیں گے.وزیر داخلہ نے کہا کہ یہ کہنا بالکل غلط ہے کہ ہم ان کے لوگوں کو پکڑ رہے ہیں۔ان کا کہنا تھا کہ جب آپس میں اتحاد ہوتا ہے تو ایک دوسرے کے ساتھ کمپرومائز کرنا پڑتا ہے،اگر پیپلز پارٹی اور ن لیگ نے ملکر الیکشن لڑا تو ہمیں نقصان ہو سکتا ہے ہمیں مل کر الیکشن نہیں لڑنا چاہئے۔ مزید کہا کہ زرداری نے ہمارے کہنے سے پہلے کہا ہے کہ پنجاب میں وزیراعلیٰ ن لیگ کا ہوگا۔ وزیر داخلہ نے کہا ک اسمبلی کی مدت ایک دن بھی نہیں بڑھائی جانی چاہئے،پچھلے دنوں میں جو وڈیوز اور آڈیوز آئی ہیں وہ ساری درست ہیں۔ فارن فنڈنگ،القادر ٹرسٹ اور توشہ خانہ وائٹ کالر کرائم ہیں،عمران خان کو بہت جلدی ہے کہ اپنے انجام سے محفوظ ہو جاؤں،یہ کیسز بھی بہت جلد حتمی شکل اختیار کرنے والے ہیں۔یہ دو نمبر آدمی ہے،گولی نہیں لگی ڈرامے کر رہا ہے۔جب مخالفین کیلئے مقدمات بنوا رہا تھا،وہ اسی دوران توشہ خانہ بیچ رہا تھا،جے آئی ٹی رپورٹ ابھی عدالت میں پیش نہیں ہوئی اور فواد چوہدری کو مل گئی۔ ملزم نوید کے علاوہ اس جگہ کوئی اور ملزم نہیں تھا،یہ جتنی مرضی تحقیقات اور جے آئی ٹی بنا لیں،دوسرا ملزم نہیں ڈال سکتے۔";
  count=4;

}
else if(count===4){
  urdu_data.innerHTML="جنوبی وزیرستان میں سیکورٹی فورسز کا آپریشن، دوران آپریشن فائرنگ کے تبادلے میں 2 انتہائی خطرناک دہشت گرد کمانڈروں سمیت 11 دہشت گرد ہلاک کر دیے گئے۔ پاک فوج کے شعبہ تعلقات عامہ آئی ایس پی آر کے مطابق سیکیورٹی فورسز نے جنوبی وزیرستان کے ضلع وانا میں دہشت گردوں کی موجودگی کی خفیہ اطلاع ملنے پر آپریشن کیا۔ دوران آپریشن دہشت گردی کی بڑی کارروائی کو ناکام بنا دیا گیا، جبکہ آپریشن کے دوران فائرنگ کا تبادلہ بھی ہوا۔ خفیہ اطلاعات کی بنیاد پر دہشت گردوں کے ٹھکانے پر سیکیورٹی فورسز کے پہنچنے پر دہشت گردوں نے اہلکاروں پر فائرنگ شروع کردی۔ شدید فائرنگ کے تبادلے میں دہشت گردوں کے 2 خطرناک کمانڈرز اور 2 خود کش حملہ آوروں سمیت گیارہ دہشت گرد ہلاک کر دیے گئے۔ آئی ایس پی آر کے مطابق ہلاک دہشت گردوں کے قبضے سے بھاری مقدار میں اسلحہ اور گولہ بارود بھی برآمد ہوئے۔ ہلاک کیے گئے دہشت گرد فورسز کے خلاف دہشت گردی کی کارروائیوں اور پولیس کی ٹارگٹ کلنگ میں ملوث تھے۔";
  count=5;
}
else{
  urdu_data.innerHTML="مریم نواز کے بیٹے جنید صفدر اعوان نے مستقبل میں آباد ہونے کا فیصلہ کر لیا۔جنید صفدر اعوان اپنی اہلیہ عائشہ کے ہمراہ جمعہ کو دوحا سے پاکستان پہنچیں گے۔میڈیا رپورٹس کے مطابق جنید صفدر اعوان مریم نواز کی سیاست میں مدد کرنا چاہتے ہیں۔مریم نواز کو حال ہی میں پارٹی میں اہم ذمہ داریاں سونپی گئی ہیں۔وفاقی وزیر اطلاعات مریم اورنگزیب نے بتایا ہے کہ مریم نواز شریف جنوری کے تیسرے ہفتے میں وطن واپس آئیں گی۔ بدھ کوٹوئٹر پر اپنے پیغام میں مریم اورنگزیب نے مریم نواز کی واپسی کا وقت بتاتے ہوئے کہا کہ مریم نواز سرجری کیلئے لندن سے جنیوا روانہ ہوگئی ہیں، قائد مسلم لیگ ن نواز شریف بھی مریم نواز کے ساتھ ہیں، مریم نواز جنوری کے تیسرے ہفتے میں وطن واپس پہنچ کر پارٹی کی چیف آرگنائزر کی ذمہ داریاں سنبھالیں گی۔علاوہ ازیں ن لیگ کی کی چیف آرگنائزر و سینئر نائب صدر مریم نواز شریف نے بڑا فیصلہ کرتے ہوئے پارٹی انتظامی عہدوں کی کارکردگی رپورٹ طلب کر لی ۔ ذرائع کے مطابق مریم نواز شریف (ن) لیگ کی چیف آرگنائزر کے طور پر تمام پارٹی انتظامی عہدوں کی کارکردگی کو دیکھ کر اہم فیصلے کریں گی۔ذرائع کا کہنا ہے کہ مریم نواز کی جانب سے پارٹی انتظامی عہدوں کی کارکردگی کی بنیاد پر اہم تبدیلیاں بھی عمل میں لائی جائیں گی، مریم نواز کا رواں ماہ کے آخری ہفتے میں پاکستان آنے کا امکان ہے۔مریم نواز کی واپسی کے بعد ان کے صاحبزادے جنید صفدر بھی سیاست میں متحرک ہو جائیں گے۔ذرائع کا خیال ہے کہ جنید صفدر کے سیاسی میدان میں اترنے سے نوجوان لیگی سپورٹرز بھی متحرک ہو جائیں گے اور نوجوان سپورٹرز کے لیے اچھی بات ثابت ہو گی۔";
  count=1;
}
}
  const display = document.querySelector('.display')
  const controllerWrapper = document.querySelector('.controllers')

  const State = ['Initial', 'Record', 'Download']
  let stateIndex = 0
  let mediaRecorder, chunks = [], audioURL = ''

  // mediaRecorder setup for audio
  if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia){
    console.log('mediaDevices supported..')

    navigator.mediaDevices.getUserMedia({
        audio: true
    }).then(stream => {
        mediaRecorder = new MediaRecorder(stream)

        mediaRecorder.ondataavailable = (e) => {
            chunks.push(e.data)
        }

        mediaRecorder.onstop = () => {
            const blob = new Blob(chunks, {'type': 'audio/ogg; codecs=opus'})
            chunks = []
            audioURL = window.URL.createObjectURL(blob)
            document.querySelector('audio').src = audioURL

        }
    }).catch(error => {
        console.log('Following error has occured : ',error)
    })
  }else{
    stateIndex = ''
    application(stateIndex)
  }

  const clearDisplay = () => {
    display.textContent = ''
  }

  const clearControls = () => {
    controllerWrapper.textContent = ''
  }

  const record = () => {
    stateIndex = 1
    mediaRecorder.start()
    application(stateIndex)
  }

  const stopRecording = () => {
    stateIndex = 2
    mediaRecorder.stop()
    application(stateIndex)
  }

  const downloadAudio = () => {
    const downloadLink = document.createElement('a')
    downloadLink.href = audioURL
    downloadLink.setAttribute('download', 'audio')
    downloadLink.click()
  }

  const addButton = (id, funString, text) => {
    const btn = document.createElement('button')
    btn.id = id
    btn.setAttribute('onclick', funString)
    btn.textContent = text
    btn.className="button-72"
    controllerWrapper.append(btn)
  }

  const addMessage = (text) => {
    const msg = document.createElement('p')
    msg.textContent = text
    msg.className="Message_Content"
    display.append(msg)
  }

  const addAudio = () => {
    const audio = document.createElement('audio')
    audio.controls = true
    audio.src = audioURL
    display.append(audio)
  }

  const application = (index) => {
    switch (State[index]) {
        case 'Initial':
            clearDisplay()
            clearControls()

            addButton('record', 'record()', 'Start Recording')
            break;

        case 'Record':
            clearDisplay()
            clearControls()

            addMessage('Recording...')
            addButton('stop', 'stopRecording()', 'Stop Recording')
            break

        case 'Download':
            clearControls()
            clearDisplay()

            addAudio()
            addButton('record', 'record()', 'Record Again')
            break

        default:
            clearControls()
            clearDisplay()

            addMessage('Your browser does not support mediaDevices')
            break;
    }

  }

  application(stateIndex)
    </script>
  </body>
</html>
